script(type="application/ld+json").
  {
    "@context": "http://schema.org",
    "@type": "VideoGame",
    "name": "damn.dog",
    "url": "#{siteURL}",
    "sameAs": "https://thefpl.us/also-made/damn-dog",
    "alternateName": "The Autocomplete Guessing Game",
    "image": "#{siteURL}/img/og-image.png",
    "playMode": "SinglePlayer",
    "applicationCategory": "browser game",
    "gamePlatform": "web browser",
    "operatingSystem": "web browser",
    "genre": "guessing game",
    "description": "#{description}",
    "inLanguage": "English",
    "creator": {
      "@type": "Person",
      "name": "Lemon",
      "url": "https://thefpl.us/meet/lemon",
      "sameAs": "https://twitter.com/AhoyLemon"
    },
    "author": {
      "@type": "Person",
      "name": "Montrith",
      "url": "https://thefpl.us/meet/montrith",
      "sameAs": "https://twitter.com/Montrith_Yaknow"
    },
    "publisher": {
      "@type": "PerformingGroup",
      "name": "The F Plus",
      "url": "https://thefpl.us"
    },
    "offers": {
      "@type": "Offer",
      "description": "free",
      "price": "0",
      "priceCurrency": "USD"
    },
    "screenshot": [
      {
        "@type": "ImageObject",
        "url": "#{siteURL}/img/screenshots/ss1.png",
        "width": "900",
        "height": "600"
      },
      {
        "@type": "ImageObject",
        "url": "#{siteURL}/screenshots/ss2.png",
        "width": "900",
        "height": "600"
      },
      {
        "@type": "ImageObject",
        "url": "#{siteURL}/screenshots/ss3.png",
        "width": "900",
        "height": "600"
      }
    ]
  }
